@model uuregistration.ViewModels.UurRegistratieDetailsViewModel
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UurRegistratieDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UurRegistratieDetail.StartTijd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UurRegistratieDetail.StartTijd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UurRegistratieDetail.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UurRegistratieDetail.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UurRegistratieDetail.EindDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UurRegistratieDetail.EindDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UurRegistratieDetail.EindTijd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UurRegistratieDetail.EindTijd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UurRegistratieDetail.TypeWerk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UurRegistratieDetail.TypeWerk)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UurRegistratieDetail.TeFactureren)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UurRegistratieDetail.TeFactureren)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UurRegistratieDetail.UurRegistratieDetailsId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
