@model uuregistration.Models.UurRegistratieDetails

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UurRegistratieDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StartTijd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTijd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EindDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EindDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EindTijd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EindTijd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeWerk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeWerk)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TeFactureren)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeFactureren)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UurRegistratieDetailsId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
