@model uuregistration.ViewModels.UurRegistratieViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UurRegistratie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => Model.UurRegistratie.Titel)
        </dt>

        <dd>
            @Html.DisplayFor(model => Model.UurRegistratie.Titel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => Model.UurRegistratie.Omschrijving)
        </dt>

        <dd>
            @Html.DisplayFor(model => Model.UurRegistratie.Omschrijving)
        </dd>

    </dl>
</div>
<div id="UurRegistratieDetailsLijst">
    @Html.Partial("../UurRegistratieDetails/UurRegistratieDetailsLijstControl", Model.Details)
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UurRegistratie.UurRegistratieId }) |
    @Html.ActionLink("Back to List", "Index")
</p>

