@model IEnumerable<uuregistration.Models.UurRegistratie>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Omschrijving)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTijd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EindTijd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeWerk)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeFactureren)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Omschrijving)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTijd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EindTijd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeWerk)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeFactureren)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
