@model uuregistration.Models.EditUserViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Register")
</p>
<div id="GebruikersList">
    <!--partial view, changes with ajax-->
    @Html.Partial("../Gebruikers/GebruikersLijstControl", Model.Users)
</div>

<!--not simple form, but ajax. if load there is action-->
@using (Ajax.BeginForm("Index_Create", new AjaxOptions() { UpdateTargetId = "GebruikersList" })) // GebruikersLijst = to update element by using the response from the server
{
    @Html.AntiForgeryToken()


    <div class="form-horizontal">
        <h4>Gebruiker</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => Model.Login, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" id="login">
                @Html.EditorFor(model => Model.Login, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => Model.Login, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => Model.Voornaam, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => Model.Voornaam, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => Model.Voornaam, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => Model.Achternaam, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => Model.Achternaam, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => Model.User.Achternaam, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => Model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => Model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => Model.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => Model.Departement.departementCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => Model.Departement.departementCode, new SelectList(Model.Departments, "departementCode", "departementCode"), Model.Departement)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" id="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}


@section scripts
{
    <script>
        $(document).ready(function () {
            // Disable submit button on load
            $('#submit').prop('disabled', true);
            // Keep submit button disabled if fields are empty
            $(".form-control").keyup(function () {
                $('#submit').prop('disabled', $(".form-control").val() == "" ? true : false);
            });
        });
    </script>
}

