@model uuregistration.ViewModels.FacturenIndexViewModel
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Factuur</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Factuur.FactuurJaar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Factuur.FactuurJaar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Factuur.FactuurNummer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Factuur.FactuurNummer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Factuur.FactuurDatum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Factuur.FactuurDatum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Factuur.Totaal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Factuur.Totaal)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Factuur.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
